@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Abel");
@import url("https://fonts.googleapis.com/css?family=Raleway");

.cards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.artwork-card {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25em;
    margin: 1em;
    padding: 1em 1.6em 1.2em 1.6em;
    position: relative;

    overflow-wrap: break-word;

    height: auto;

    background: white;

    cursor: pointer;

    border-radius: 5%;
    border-width: 0.2em;
    border-style: solid;
    border-color: black;

    transition: border-radius 0.2s, padding-top 0.2s, padding-bottom 0.2s, border-style 0.2s, border-color 0.2s;
}

.artwork-card:hover {

    // background-color: rgba(255, 255, 255, 0.541);
    // background: rgb(142,227,216);
    // background: linear-gradient(180deg, rgba(142,227,216,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 97%); 

    background: rgb(255,214,112);
    background: linear-gradient(180deg, rgba(255,214,112,1) 0%, rgba(255,255,255,1) 63%, rgba(255,255,255,1) 97%); 

    padding-top: 0.4em;
    padding-bottom: 1.6em;
    border-style: solid;
    border-color: black;
    border-radius: 0%;

    .card-artwork-info h1:after { 
        width: 100%; 
        left: 0;
      }


}

.card-artwork-info h1:after {    
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    margin-top: 0.3em;
    height: 2px;
    position: absolute;
    left: 50%;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

.card-artwork-info {
    position: relative;

    h1 {
        font-family: "Montserrat", sans-serif;
        text-align: center;
        position: relative;
    }

    span {
        font-family: "Abel";
        font-size: 1.2rem;
    }

}

.card-bottom-details {
    font-family: "Raleway", sans-serif;
    margin-top: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 600px) {
    .artwork-card {
        max-width: 80vw;
    }

    .card-bottom-details {
        flex-direction: column;
    }
}