@import "./variables";


.comment-submit-container, .reply-submit-container {
    display: flex;
    flex-direction: column;
}

.comment-button, .reply-button, .like-button {
    margin-top: 1em;
    margin-right: 1em;
    background: black;
    color: $background-color-2;
    border-style: solid;
    border-color: black;
    padding: 0.2em 0.3em;
    border-radius: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.comment-bar, .reply-bar {
    display: block;
    resize: none;
    border-width: 0 0 2px 0;
    font-size: 0.9em;
    background: none;
    border-style: solid;
    width: 60%;
    height: auto;
    max-height: 15em;
    overflow: auto;
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: border-color 1s ease 0s;
}

.feedback-bar {
    border-width: 2px;
    padding: 1em 1em;
    background-color: $background-color;
}

.feedback-box {
    // background-color: white;
    // border: 2px solid black;
    width:40vw;
    min-width: 100px;
    margin: 1em 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    background-color: $background-color;

    height: auto;

    border-style: solid;
    border-color: black;
    border-width: 0.12em;
    border-radius: 5px;
    // border-top: 0;
    // border-bottom: 0;
    // border-right: 0;


}

.usefulness-rating-container {
    font-style: italic;
    margin-top: 1em;
    font-size: 0.85em;
}

@media screen and (max-width: 1390px) {
    .feedback-box {
        width: 570px;
    }
}


@media screen and (max-width: 700px) {
    .feedback-box {
        width: 65vw;
    }
}


.feedback-details {
    display: flex;
    margin-bottom: 0.5em;
}

.feedback-detail {
    margin-right: 1em;
    font-weight: bold;
}

@media (max-width: 600px) {
    .feedback-details {
        flex-direction: column;
    }
}