.read-more-text{
    display: block;
    width: 100%;
}
    
.read-or-hide {
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    display: block;
  }