@import "./variables";

@import url("https://fonts.googleapis.com/css?family=Sofia+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Unbounded");
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Barlow");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url("https://fonts.googleapis.com/css?family=Lobster");

@import "./navbar";
@import "./home";
@import "./feed";
@import "./profile";
@import "./artwork";
@import "./tabs";
@import "./comment";
@import "./feedback";
@import "./overlay";

body {
    margin: 0;
    background-color: $background-color;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.basic-button {
    all: unset;
    cursor: pointer;
    background-color: $background-color;

    color: black;
    font-family: "Oswald", "Abel", Arial, Helvetica, sans-serif;

    padding: 0.2em 1em;
    padding-bottom: 0.3em;

    position: relative;
}

.basic-button-text:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    margin-top: 0.05em;
    height: 2px;
    position: absolute;
    left: 10%;
    background: #000000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

  .basic-button:hover {

    .basic-button-text:after {
        width: 80%;
    }

  }

// MEDIA QUERY FOR MOBILE COMPATIBILITY

@media screen and (max-width: 900px) {

    // TODO: Instead of making the Miryoku logo disappear, make the navigation bar a toggle menu
    .navbar-title {
        color: transparent;
    }

    .jump-a-line {
        display: block;
    }

    .story-one {
        h1 {
            font-size: 3rem;
            text-align: center;
        }
    }

}

@media screen and (max-width: 780px) {
    
    .buttons-next-to-search-bar {
        margin-top: 2rem;
    }

    .search-components {
        width: min-content;
        justify-content: center;
    }

    .submit {
        margin-left: 0rem;
    }

    .search-bar {
        width: 60vw;
    }

}

// END OF MEDIA QUERY